@font-face {
  font-family: 'OpenSans';
  src: url("./fonts/OpenSans.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
} 

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: 'OpenSans';
  text-align: center;
}

:root {
  --theme-color: #0060af;
  --background-dark: #111827;
  --background-light: #f8f9fa;
  --text-light: #374151;
  --button-hover: #00447b;
}

.bg-dark {
  background-color: var(--background-dark);
}

.bg-light {
  background-color: var(--background-light);
}

.txt-light {
  color: var(--text-light);
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-variation-settings: "wght" 700;
}

h2 {
  font-size: 2rem;
  font-weight: 650;
  font-variation-settings: "wght" 650;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  font-variation-settings: "wght" 500;
}

p {
  font-size: 1rem;
  font-weight: 300;
  font-variation-settings: "wght" 300;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 1rem;
  font-weight: 500;
  font-variation-settings: "wght" 500;
  padding: 10px 30px;
  color: white;
  background-color: var(--theme-color);
  border: 2px solid var(--theme-color);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
  border: 2px solid var(--button-hover);
}

.btn--light {
  color: var(--theme-color);
  background-color: white;
}

.btn--light:hover {
  background-color: var(--background-light);
}

.hr-w {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vr-w {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
}

.sc-h {
  padding-bottom: 30px;
}

.wrp {
  flex-wrap: wrap;
}

.wrp-r {
 flex-wrap: wrap-reverse;
}

.star-w > * {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 20px;
  margin: 0px 2px;
}

@media screen and (min-width: 768px) { 
  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 2.75rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) { 
  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 3rem;
  }
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header__dropdown__btn {
  background-image: url('./images/menu.svg');
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header__dropdown__options {
  display: none;
  position: absolute;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}

.header__dropdown__options__item {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
}

.header__dropdown__options__item a {
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  font-weight: 550;
  font-variation-settings: "wght" 550;
}

.header__dropdown__options__item a:hover {
  background: #f2f2f2;
}

.header__dropdown.active .header__dropdown__btn {
  background-image: url('./images/x.svg');
}
.header__dropdown.active .header__dropdown__options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

.header__btn {
  display: none;
  font-size: 0.9rem;
}

.header__nav {
  display: none;
  margin-left: 35px;
}

.header__nav__ul {
  list-style-type: none;
}

.header__nav__ul__li a {
  font-weight: 550;
  font-variation-settings: "wght" 550;
  padding: 10px 30px;
}

.header__nav__ul__li a:hover {
  background-color: var(--background-light);
  border-radius: 5px;
}

.header__logo-wrapper__title {
  font-size: 1.3rem;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

.header__logo-wrapper__img {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 30px;
  margin-left: 5px;
  margin-top: 2px;
}

@media screen and (min-width: 768px) { 
  .header__dropdown {
    display: none;
  }

  .header__btn {
    display: block;
    font-size: 1rem;
  }

  .header__nav {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    justify-content: space-around;
    padding: 20px 30px;
  }
}

/* intro */

.intro {
  padding: 100px 10px 50px 10px;
}

.intro > * {
  margin: 10px 0px;
}

.intro__sub-title {
  font-size: 1.25rem;
  font-weight: 350;
  font-variation-settings: "wght" 350;
}

.intro__star-txt {
  font-weight: 600;
  font-variation-settings: "wght" 600;
  padding-left: 5px;
}

.intro__btn-wrapper__btn {
  margin: 10px 10px;
  padding: 15px 30px;
}

@media screen and (min-width: 768px) { 
  .intro {
    padding: 150px 10px 50px 10px;
  }

  .intro__sub-title {
    font-size: 1.5rem;
    width: 70%;
  }
}

@media screen and (min-width: 1024px) { 
  .intro__sub-title {
    width: 40%;
  }
}

/* slider */

.slider {
  padding: 0px 10px 50px 10px;
}

.blaze-slider {
  --slides-to-show: 1;
  --slide-gap: 20px;
  direction: ltr;
}

.blaze-container {
  position: relative;
}

.blaze-track-container {
  overflow: hidden;
  cursor: pointer;
}

.blaze-track {
  will-change: transform;
  touch-action: pan-y;
  display: flex;
  gap: var(--slide-gap);
  --slide-width: calc(
    (100% - (var(--slides-to-show) - 1) * var(--slide-gap)) /
      var(--slides-to-show)
  );
  box-sizing: border-box;
}

.blaze-track > * {
  box-sizing: border-box;
  width: var(--slide-width);
  flex-shrink: 0;
}

.blaze-track img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.blaze-pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}

.blaze-pagination-wrapper img {
  cursor: pointer;
}

.blaze-pagination-wrapper img:hover {
  opacity: 0.5;
}

.blaze-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blaze-pagination button {
  padding: 0px;
  margin: 0px 7px;
  width: 15px;
  height: 15px;
  border: none;
  background-color: rgb(226, 226, 226);
  border-radius: 50%;
  color: #0000;
  cursor: pointer;
  outline: 0;
  transition: transform .2s,background .3s;
}

.blaze-pagination button.active {
  margin: 0px 3px;
  border: 10px solid rgb(63, 63, 63);
  background-color: rgb(63, 63, 63);
}

@media screen and (min-width: 768px) { 
  .slider {
    padding: 30px 10px 50px 10px;
  }

  .blaze-track img {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) { 
  .slider {
    padding: 50px 10px 50px 10px;
  }

  .blaze-track img {
    width: 60%;
  }
}

/* features */

.features {
  padding: 0px 10px;
}

.features__heading {
  padding: 50px 0px 0px 0px;
}

.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features__container__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__container__item img {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 768px) { 
  .features__container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__container__item {
    margin: 0px 40px;
  }
}

@media screen and (min-width: 1024px) { 
  .features__container__item {
    margin: 0px 80px;
  }

  .features__container__item img {
    width: 200px;
    height: 200px;
  }
}

/* pricing */

.pricing__container {
  background-color: white;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 20px 40px;
  margin: 20px 10px;
}

.pricing__container > * {
  margin: 10px 0px;
}

.pricing__container__img {
  max-width: 60px;
}

.pricing__container__hr {
  opacity: 0.3;
  margin: 20px 0px;
}

.pricing__container__icon {
  max-width: 20px; 
  margin-left: 10px;
}

.pricing__container__points {
  margin-top: 15px;
}

@media screen and (min-width: 768px) { 
  .pricing__container {
    margin: 20px 20px;
  }
}

/* reviews */

.reviews {
  padding: 50px 20px;
}

.reviews__heading {
  color: white;
}

.reviews__container {
  max-width: 1200px;
}

.reviews__container__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  border-radius: 5px;
  padding: 20px 30px;
  max-width: 500px;
  margin: 20px 10px;
}

.reviews__container__item > * {
  margin: 10px 0px;
}

.reviews__container__item__p {
  text-align: right;
}

.reviews__container__item__p-img {
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

.reviews__container__item__img {
  max-width: 60px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) { 
  .reviews__container__item {
    margin: 20px 20px;
  }
}

@media screen and (min-width: 1600px) { 
  /* .reviews {
    padding: 50px 200px;
  } */
}

/* timeline */

.timeline-wrapper {
  padding: 50px 30px;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: '';
  background: #d0dde8;
  width: 1px;
  height: 100%;
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
}


.timeline__container {
  margin-top: 20px;
  max-width: 1030px;
}

.timeline__container__item {
  text-align: right;
  width: 100%;
  margin-bottom: 50px;
}

.timeline__container__item:nth-child(even) .timeline__container__item__content {
  float: right;
  padding: 20px 30px;
}

.timeline__container__item::after {
  content: '';
  display: block;
  clear: both;
}
.timeline__container__item__content {
  border: 1px solid #cfcfcf;
  position: relative;
  width: 45%;
  padding: 20px 30px;
  border-radius: 5px;
  background: #f8f9fa;
}

.timeline__container__item__content > h3 {
  padding-bottom: 10px;
}

.timeline__container__item__img {
  width: 18px;
  height: 18px;
  background: white;
  border: 5px solid var(--theme-color);
  border-radius: 50%;
  position: absolute;
  right: 50%;
  margin-top: 25px;
  margin-right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appear {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.appear.inview {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    right: 10px;
 }
  .timeline .timeline__container__item__img {
    right: 10px;
 }
  .timeline .timeline__container__item__content {
    max-width: 100%;
    width: auto;
    margin-right: 40px;
 }
}

@media screen and (min-width: 1024px) {
  .timeline__container__item:nth-child(even) .timeline__container__item__content {
    background-image: url("./images/bitcoin_icon_2.svg");
    background-position: 30px 30px;
    background-size: 50px;
    background-repeat: no-repeat;
  }
  
  .timeline__container__item:nth-child(odd) .timeline__container__item__content {
    background-image: url("./images/bitcoin_icon_2.svg");
    background-position: 30px 30px;
    background-size: 50px;
    background-repeat: no-repeat;
  }
}