@font-face {
  font-family: 'Assistant';
  src: url("./fonts/Assistant.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
} 

/* global */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(15px + 0.290625vw);
  height: 100%;
  font-family: 'Assistant';
}

:root {
  /* --main-theme-color: #006aff; */
  --main-theme-color: #057bde;
  --secondary-theme-color: #f5f5f5;
}

h1 {
  font-size: 2.5rem;
  font-weight: 650;
  font-variation-settings: "wght" 650;
}

h2 {
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

h3, h4, h5 {
  font-weight: 350;
  font-variation-settings: "wght" 350;
}

p {
  font-weight: 300;
  font-variation-settings: "wght" 300;
}

a {
  text-decoration: none;
  color: black;
}

/* a:hover {
  text-decoration: underline;
} */

button {
  font-family: 'Assistant';
  font-weight: 550;
  font-variation-settings: "wght" 550;
  padding: 10px 35px;
  color: #ffffff;
  background-color: var(--main-theme-color);
  border: 2px solid var(--main-theme-color);
  border-radius: 5px;
  cursor: pointer;
}

.small-bold-text {
  font-weight: 550;
  font-variation-settings: "wght" 550;
}

main {
  padding-top: 40px;
}

section {
  padding: 15px 10px;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.3);
  padding: 10px 0px;
  /* to make it sticky */
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

#header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-left img {
  display: none;
  max-width: 40px;
  margin: 5px 15px 0px 15px;
}

#header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header-right > h4 {
  display: none;
  color: #333333;
  font-weight: 550;
  font-variation-settings: "wght" 550;
  padding: 10px 50px;

}

#header-right > button {
  margin-left: 20px;
  padding: 7px 30px;
  font-size: 0.8rem;
  color: var(--main-theme-color);
  background-color: white;
  border: 2px solid var(--main-theme-color);
  transition: background-color 0.3s, color 0.3s;
}

#header-right > button:hover {
  background-color: var(--main-theme-color);
  color: white;
}

/* 
.visible {
  display: block;
  animation: fade 1s ease;
}

@keyframes fade {
  0%   { opacity: 0.7; }
  100% { opacity: 1; }
}
*/

/* first section */

#intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  background-color: #ffffff;
}

#intro-right > *,
#intro-left > * {
  margin-bottom: 35px;
}

#intro-button {
  padding: 10px 35px;
  background-color: var(--main-theme-color);
  border: 2px solid var(--main-theme-color);
  font-size: 0.8rem;
  transition: background-color 0.5s, border 0.5s;
}

#intro-button:hover {
  background-color: #0060af!important;
  border: 2px solid #0060af!important;
}

.green-text {
  color: var(--main-theme-color);
}

#rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

#star-images {
  padding-right: 10px;
}

#star-images > * {
    padding-top: 5px;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 15px;
}

/* second section */

#pricing {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  padding: 35px 15px;
  background-image: url("./images/wave-haikei-7.svg");
}

.price-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  padding: 40px;
  margin: 10px;
  width: 330px;
  background-color: white;
}

.reg-container {
  transition: box-shadow 0.3s;
}

.reg-container:hover {
  box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.3);
}

.prem-container {
  border: 1px solid var(--main-theme-color);
  box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.3);
}

.price-container hr {
  margin-bottom: 10px;
  opacity: 0.3;
}

.price-top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-top-wrapper > img {
  width: 100px;
  margin-bottom: 20px;
}

.prem-wrapper > img {
  width: 80px;
  margin-bottom: 20px;
}

.price-top-wrapper > h3 {
  font-size: 1.5rem;
  font-weight: 550;
  font-variation-settings: "wght" 550;
  color: black;
  margin-bottom: 5px;
}

.prem-wrapper > h3 {
  color: var(--main-theme-color);
}

.price-top-wrapper > p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #646a74;
  font-weight: 500;
  font-variation-settings: "wght" 500;
}

.price-bullet-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.price-bullet-wrapper img {
  width: 20px;
  margin-left: 8px;
}

.price-bullet-wrapper {
  margin: 10px 0px;
}

.price-bullet-wrapper > p {
  font-weight: 500;
  font-variation-settings: "wght" 500;
  color: #333333;
}

.price-btn-wrapper {
  margin-top: 15px;
}

.price-btn-wrapper > button {
  border-radius: 5px;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 550;
  font-variation-settings: "wght" 550;
  color: var(--main-theme-color);
  background-color: white;
  border: 2px solid var(--main-theme-color);
  transition: background-color 0.3s, color 0.3s;
  /* transition: all 0.5s ease-out; */
}

.price-btn-wrapper > button:hover {
  background-color: var(--main-theme-color);
  color: white;
}

.prem-btn {
  color: white!important;
  background-color: var(--main-theme-color)!important;
  border: 2px solid var(--main-theme-color)!important;
  transition: background-color 0.5s, border 0.5s;
}

.prem-btn:hover {
  background-color: #0060af!important;
  border: 2px solid #0060af!important;
}


/* image slider */

/* #main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 800px;
}

.invisible {
  display: none;
}

.visible {
  display: block;
  animation: fade 1s ease;
}

@keyframes fade {
  0%   { opacity: 0.7; }
  100% { opacity: 1; }
}

#next,
#previous {
    display: none;
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

#next:hover,
#previous:hover {
    opacity: 0.5;
}

#image-container > img {
  width: 100%;
  border-radius: 5px;
}

#circles-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 20px 5px 20px 5px;
  cursor: pointer;
  transition: all 1s;
} */

/* footer */

/* footer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;

  padding: 20px;
}

.plan-wrapper {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;

  margin: 20px 0px;

  max-width: 1000px;

  border-radius: 5px;
  box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.3);
}

.right-plan {
  border-left: 5px solid #f5f5f5;

  text-align: center;

  padding: 20px;
  
}

.right-plan img {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 50px;
}

.bold {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  white-space: nowrap;
  padding: 0px 15px;
}

.bold > img {
  padding: 0px 10px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 70px;
}

.right-plan button {
  padding: 10px 50px;
  font-size: 0.8rem;
  color: white;
  background-color: #002233;
}

.left-plan {
  text-align: center;

  padding: 10px 20px 20px 20px;
}

.dot {
  margin: 0px 0px 2px 5px;
  position: relative;
  width: 100%;
  max-width: 5px;

  border: 4px solid black;
  border-radius: 50%;
}

.right-plan > *:not(button) {
  padding-bottom: 20px;
}
.left-plan > :first-child {
  padding-bottom: 10px;
  font-weight: 450;
  font-variation-settings: "wght" 450;
}

.left-plan > *:not(:first-child) {
  padding-bottom: 7px;
} */

.carousel {
  background: rgb(255, 255, 255);
  margin: 20px 0px 60px 0px;
}

.carousel-cell {
  margin-right: 50px;
}

.carousel img {
  display: block;
  height: 200px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

/* timeline */

.timeline-section {
  padding-bottom: 30px;
}

.timeline {
  position: relative;
}
.timeline::before {
  content: '';
  background: var(--main-theme-color);
  width: 1px;
  height: 100%;
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
/* 
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%); */
}
.timeline-item {
  text-align: right;
  width: 100%;
  margin-bottom: 50px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 20px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

/* .timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
} */
.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}
.timeline-content {
  border: 1px solid var(--main-theme-color);
  position: relative;
  width: 45%;
  padding: 20px 30px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent var(--main-theme-color);
}

.timeline-content > h2 {
  padding-bottom: 10px;
}
.timeline-img {
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid var(--main-theme-color);
  border-radius: 50%;
  position: absolute;
  right: 50%;
  margin-top: 25px;
  margin-right: -14px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.timeline-img > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-weight: 550;
  font-variation-settings: "wght" 550;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    right: 10px;
 }
  .timeline .timeline-img {
    right: 10px;
 }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-right: 40px;
 }

  /* .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
 }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
 } */

 /* .timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
} */
 
}


/* ------------------------- */

@media screen and (min-width: 350px) { 
  #header-left img {
    display: block;
  }
}

@media screen and (min-width: 568px) { 

}

@media screen and (min-width: 768px) { 
  section {
    padding: 50px 20px 0px 20px;
  }

  header {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 3px 25px -7px rgba(0,0,0,0.3);
  }

  main {
    padding-top: 0px;
  }

  #intro {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 150px;
  }

  #intro-right {
    padding: 0px;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 1000px;
  }

  #intro-right h3 {
    padding-bottom: 30px;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 600px;
  }

  .pics {
    padding: 100px 20px;
  }

  .carousel {
    background: rgb(255, 255, 255);
    margin: 100px 0px 120px 0px;
  }

  .carousel img {
    height: 400px;
  }

  .timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent var(--main-theme-color) transparent transparent;
}
}

@media screen and (min-width: 1024px) { 
  header {
    justify-content: space-around;
  }

  #header-right > h4 {
    display: block;
  }

  #next,
  #previous {
      display: block;
      width: 60px;
      height: 60px;
      margin: 5px 20px;
  }

  #main-container {
    max-width: 1100px;
  }

  .timeline-section {
    padding: 0px 50px 30px 50px;
  }
}

@media screen and (min-width: 1300px) { 
  #margins-left {
    text-align: right;
  }

  .two {
    padding-left: 30px;
  }

  .timeline-section {
    padding: 0px 150px 30px 150px;
  }
}